# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.*

# Database
*.sql
*.sqlite

# OS & Logs
.DS_Store
Thumbs.db
*.log
logs/

# IDE
.vscode/
.idea/

# Node & Build
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# ML & Model artifacts
*.joblib
artifacts/

# Data files
*.csv

# Scratch/Test files
scratch/